<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Liste de nos Bières</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/stylish-portfolio.min.css" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" >Cherchez votre Binou'z ;)</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/index">Home</a>
      </li>
      <br>
      <br>
      
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/addBar">Ajoutez un Bar</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/addBiere">Ajoutez une Biere</a>
      </li>
      <br>
      <br>
      <li class="sidebar-nav-item">
        <form th:action="@{/logout}" method="post">
              <input type="submit" value="Sign Out"/>
        </form>
      </li>
      </ul>
  </nav>
    
    
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${bieres}" class="container my-5">
                    <p class="my-5">

                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No Bud yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Bar</th>
                                        <th>Variete</th>
                                        <th>Region</th>
                                        <th>Degres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="biere : ${bieres}">
                                        <td th:text="${biere.nombiere}"></td>
                                        <td th:text="${biere.nombar}"></td>
                                        <td th:text="${biere.variete}"></td>
                                        <td th:text="${biere.region}"></td>
                                        <td th:text="${biere.degres}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            
                           

</form>
                            <a class="js-scroll-trigger" href="/addBiere">Ajoutez une Biere</a>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/stylish-portfolio.min.js"></script>
</body>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="dc05896777a71f9e616b648a-|49" defer=""></script>
</html>
